
.mouse-bg {
    position: fixed;
    inset: 0;
    pointer-events: none;
    z-index: 0;
    overflow: hidden;
}

.blob {
    background-color: white;
    height: 10vmax;
    aspect-ratio: 1;
    position: absolute;
    left: 10%;
    top: 10%;
    translate: -50% -50%;
    border-radius: 50%;
    background: linear-gradient(to right, var(--bg-1), var(--bg-2));
    animation: pulse 3s infinite;
    opacity: 0.8;
}

.blurLayer {
    position: absolute;
    inset: 0;
    backdrop-filter: blur(2vmax);
    pointer-events: none;
    z-index: 0;
}

@keyframes pulse {

    0%,
    100% {
        transform: scale(1);
        opacity: .5;
    }

    50% {
        transform: scale(1.1);
        opacity: .8;
    }
}

@media (prefers-reduced-motion: reduce) {

    .blob,
    .blurLayer {
        animation: none;
        transition: none;
    }
}

@media (max-width: 1024px) {
    .mouse-bg,
    .blob,
    .blurLayer {
        display: none;
    }
}
