
.intro {
    padding: auto;
    padding-top: 108px;
    overflow: hidden
}

.intro__gradient {
    position: absolute;
    inset: -10% -10% auto -10%;
    height: 120%;
    background: radial-gradient(1400px 600px at 0% 0%, var(--bg-1) 0%, transparent 60%),
        radial-gradient(1200px 500px at 100% 10%, var(--bg-2) 0%, transparent 60%),
        radial-gradient(2000px 250px at 50% 100%, var(--bg-3) 0%, transparent 60%);
    filter: saturate(120%) blur(20px);
    opacity: .9;
    pointer-events: none;
}

.intro__inner {
    position: relative;
}

.intro__title {
    font-size: 64px;
    line-height: 1.08;
    margin: 0 0 20px;
    font-weight: 700;
}

.intro__subtitle {
    display: inline-block;
    position: relative;
    align-items: center;
    white-space: nowrap;
    font-size: 34px;
    line-height: 1;
    padding-right: 6px;
    color: var(--bg-2);
    text-shadow:
        0 0 10px #8a2be2,
        0 0 20px #8a2be2,
        0 0 30px #8a2be2;
    margin-bottom: 240px;
}

.intro__typed {
    display: inline-block;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    vertical-align: top;
}

.intro__cursor {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 1em;
    rotate: 20deg;
    display: inline-block;
    width: 10px;
    pointer-events: none;
    transition: left 0.10s linear;
    opacity: 1;
}

.intro__cursor::before {
    content: '';
    display: block;
    width: 2px;
    height: 0.95em;
    margin: auto;
    background: var(--bg-2, #d94bff);
    border-radius: 1px;
}

@keyframes cursorBlink {

    0%,
    49% {
        opacity: 1;
    }

    50%,
    100% {
        opacity: 0;
    }
}

.intro__cursor {
    animation: cursorBlink 1s steps(2, start) infinite;
}

/* reduced-motion: выключаем анимации */
@media (prefers-reduced-motion: reduce) {
    .intro__cursor {
        animation: none;
        transition: none;
        opacity: 1;
    }
}



.wave {
    display: inline-block;
    transform-origin: 70% 70%;
    animation: wave 2.6s infinite;
}

@keyframes wave {

    0%,
    60%,
    100% {
        transform: rotate(0)
    }

    10% {
        transform: rotate(18deg)
    }

    30% {
        transform: rotate(-12deg)
    }

    45% {
        transform: rotate(6deg)
    }
}

.intro__inner .swiper-wrapper {
    display: flex;
}

/* -ANIMATED BACKGROUND- */

.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 700px;
    overflow: hidden;
    z-index: -1;
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background-color: #ff3cac;
    background-image: linear-gradient(225deg, #ff3cac 0%, #784ba0 50%, #42c3ff 100%);
    animation: animate 25s linear infinite;
    bottom: -150px;
}

.circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {

    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 100%;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 100%;
    }

}
