@import "./variables.css";

::selection {
    background-color: #f3c8ff;
    color: #8a2be2;
}

body {
    margin: 0;
    font-family: "Inter", system-ui, Arial, sans-serif;
    font-size: 21px;
    background: #0b0713;
    color: var(--text);
    overflow-x: hidden;
}


html {
    scroll-behavior: smooth;
}


::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: var(--surface);
}

::-webkit-scrollbar-thumb {
    background-color: var(--scroll-bar);
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scroll-hover);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: #ffffff;
}

ul {
    margin: 0;
}

img {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;

}

.font-1 {
    font-family: "Gloria Hallelujah", sans-serif;
}

.font-2 {
    font-family: "WDXL Lubrifont SC", sans-serif;
}

.font-3 {
    font-family: "Oswald", sans-serif;
}

.font-4 {
    font-family: "Pangolin", sans-serif;
}

.font-5 {
    font-family: "Marck Script", sans-serif;
}


.container {
    box-sizing: border-box;
    width: 100%;
    max-width: 1111px;
    margin: 0 auto;
    padding: 0 10px;
}

.btn {
    display: inline-flex;
    padding: 8px 34px;
    border-radius: 12px;
    border: 1px solid var(--border);
    background: var(--border);
    cursor: pointer;
    color: var(--text);
    transition: color .2s ease, background .2s ease;
}

.btn:hover {
    background: transparent;
}


.app-content {
    position: relative;
    z-index: 1;
    min-height: 100vh;
}

