@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Marck+Script&family=Oswald:wght@200..700&family=Pangolin&family=WDXL+Lubrifont+SC&display=swap');

:root {
    --bg-1: #8a2be2;
    --bg-2: #d94bff;
    --bg-3: #a600ff;
    --bg-4: #7b00ff;
    --text: #ffffff;
    --muted: #f0e6ffcc;
    --surface: #1a1026;
    --surface-2: #221233;
    --border: #ffffff1f;
    --accent: #ffffff;
    --shadow: 0 10px 30px rgba(0, 0, 0, .25);
    --raw-seinna: hsl(24, 74%, 58%);
    --sizzling-sunrise: hsl(51, 95%, 54%);
    --scarlet: hsl(13, 96%, 47%);
    --black: hsl(0, 0%, 0%);
    --white: hsl(0, 0%, 100%);
}

